{# Design\InitializrBundle\views\Default\contact_form.html.twig #}

{% extends 'DesignInitializrBundle:Default:index.html.twig' %}

{% block title %}
	Nous contacter
{% endblock %}


{% block pageTitle %}
{% endblock %}

{% block article %}
{{ form_start(form, {'attr': {'class': 'center'}} ) }}
	<h1>Contactez nous !</h1>
	<fieldset class="">
		
		{{ form_errors(form, {'attr': {'class': 'error'}} ) }}
		
		{% if err != "" %}
			<div class="error red_error"> 
				test : {{ err }}
			</div>
		{% endif %}
	
	    <div class="part-wrapper">
	        {{ form_label(form.personne.nom, 'Nom') }}
	        {{ form_widget(form.personne.nom) }}
	    </div>
	
	    <div class="part-wrapper">
	        {{ form_label(form.personne.prenom, 'Prénom') }}
	        {{ form_widget(form.personne.prenom) }}
	    </div>
	    
	    <div class="part-wrapper">
	        {{ form_label(form.personne.mail, 'Mail') }}
	        {{ form_widget(form.personne.mail) }}
	        {{ form_errors(form.personne.mail) }}
	    </div>
	    
	    <div class="part-wrapper">
	        {{ form_label(form.personne.tel, 'Téléphone') }}
	        {{ form_widget(form.personne.tel) }}
	        {{ form_errors(form.personne.tel) }}
	    </div>
	    
	    <div class="part-wrapper">
	        {{ form_label(form.objet, 'Objet') }}
	        {{ form_widget(form.objet) }}
	        {{ form_errors(form.objet) }}
	    </div>

   	    <div class="part-wrapper">
	        {{ form_label(form.texte, 'Message') }}
	        {{ form_widget(form.texte) }}
	        {{ form_errors(form.texte) }}
	    </div>
	    	    
		<div class="button-wrapper">
	        {{ form_widget( form.save, {'attr': {'class': 'btn droite'}}, 'Envoyer' ) }}
		</div>
	
	</fieldset>	
{{ form_end(form) }}
{% endblock %}

{% block aside %}
{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
	var cp = "Contact";

	$(document).ready(function()
	{
		$("fieldset>ul").wrap( "<div class='error red_error'></div>" );
		
		$( "form input#mail_personne_tel " ).change(function()
		{
			var regxTel = "^0[0-9]{9}$";
			var tel = $(this).val();
			
			if( !tel.match(regxTel) )
				$(this).css("border", "2px solid red"); // bords en rouge
			else
				$(this).attr("style", "");			
		});
	});
</script>
{% endblock %}